*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #050203;
}
.calculator_container{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.calculator_des{
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  width: 70%;
  height:auto;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  border-radius: 50px 50px 0% 0%;
}
.result{
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  width: 70%;
  height:auto;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  border-radius: 0% 50% 0% 60%;
  padding: 20px 0px;
}
.result_txt{
  font-size: 18px;
  margin-left: 0px;
  border: 1px solid #fff;
  padding: 7px 30px;
  margin-top: 10px;
  background: #fff;
  color: green;
  font-weight: bold;
  border-radius: 50px;
}
.last{
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 70%;
  height:auto;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  padding: 20px 0px;
  border-radius: 50px 0% 50px 50px;
}
.last p{
  font-size: 25px;
  margin-left: -20px;
}
h2{
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
}
p{
  color: #fff;
  font-size: 18px;
  margin-left: 150px;
  padding: 10px 0px;
}
.line{
  width: 70%;
  height: 5px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 50px;
}
.input_form_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
}
.input_design{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}
.te{
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
}
input{
  margin-top: 10px;
  padding: 5px 50px;
  font-size: 18px;
  outline: none;
  border-radius: 50px;
  border: none;
}
.plus_icon{
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  padding: 0px 20px;
}
.btn{
  font-size: 18px;
  outline: none;
  padding: 8px 20px;
  color: #fff;
  background: #000;
  transition: 0.8s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 50px;
}
.btn:hover{
  color: #000;
  background: #fff;
}
.btn_div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.love_icon{
  color:red;
}
/* mobile device responsive */
@media screen and (min-width:320px) and (max-width:480px) {

}
/* ipads and tablet responsive design */
@media  screen and (min-width:481px) and (max-width:768px) {
  .calculator_des{
    width: 90%;
  }
  .result{
    width: 90%;
  }
  .last{
    width: 90%;
  }
  h2{
    font-size: 20px;
  }
  p{
    font-size: 12px;
    padding: 8px 0px;
  }
  .line{
    height: 3px;
  }
  .input_design{
    padding-top: 20px;
  }
  .te{
    font-size: 14px;
  }
  input{
    margin-top: 5px;
    padding: 2px 20px;
    font-size: 10px;
    outline: none;
  }
  .plus_icon{
    font-size: 30px;
    padding: 0px 10px;
  }
  .btn{
    font-size: 12px;
    padding: 5px 15px;
  }
  .btn_div{
    padding: 20px 0px;
  }
  .result{
    padding: 20px 0px;
  }
  .last{
    padding: 10px 0px;
  }
  .last p{
    font-size: 15px;
  }
  .result_txt{
    font-size: 15px;
    padding: 5px 25px;
  }
}
/* laptop responsive  */
@media screen and (min-width:769px) and (max-width:1024px) {
  h2{
    font-size: 25px;
  }
  p{
    font-size: 14px;
    padding: 8px 0px;
  }
  .line{
    height: 3px;
  }
  .input_design{
    padding-top: 40px;
  }
  .te{
    font-size: 14px;
  }
  input{
    margin-top: 5px;
    padding: 2px 18px;
    font-size: 15px;
    outline: none;
  }
  .plus_icon{
    font-size: 30px;
    padding: 0px 10px;
  }
  .btn{
    font-size: 12px;
    padding: 5px 15px;
  }
  .btn_div{
    padding: 20px 0px;
  }
  .result{
    padding: 20px 0px;
  }
  .last{
    padding: 10px 0px;
  }
  .last p{
    font-size: 15px;
  }
}
/* Desktop responsive */
@media  screen and (min-width:1025px) and (max-width:1200px) {
  h2{
    font-size: 25px;
  }
  p{
    font-size: 14px;
    padding: 8px 0px;
  }
  .line{
    height: 3px;
  }
  .input_design{
    padding-top: 40px;
  }
  .te{
    font-size: 14px;
  }
  input{
    margin-top: 5px;
    padding: 2px 18px;
    font-size: 15px;
    outline: none;
  }
  .plus_icon{
    font-size: 30px;
    padding: 0px 10px;
  }
  .btn{
    font-size: 12px;
    padding: 5px 15px;
  }
  .btn_div{
    padding: 20px 0px;
  }
  .result{
    padding: 20px 0px;
  }
  .last{
    padding: 10px 0px;
  }
  .last p{
    font-size: 15px;
  }
}
/* tv responsive */
@media  screen and (min-width:1201) and (max-width:2000px) {
    
}